<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Zijin.mapper.TestMapper">
    <!--SQL片段，记录基础字段-->
    <sql id="BaseColumns">uid,user_name,age,email</sql>
    <!--List<User> getAllUser();-->
    <select id="getAllUser" resultType="User">
        select <include refid="BaseColumns"></include> from t_user
    </select>
</mapper>