<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--  扫描标签-->
    <!--
    context:exclude-filter:排除扫描
    type:设置排除扫描的方式
    type=:annotation|assiganable
    annotation:根据注解的类型进行排除，expression需要设置排除的注解的全类名
    assignable:根据类的类型，expression需要设置排除类的全类名

    context:include-filter: 包含扫描
    use-default-filters=”true“ 所设置的包下面所有的类都需要扫描，此时可以使用排除扫描（默认）
    use-default-filters=”false“ 所设置的包下面所有的类都不需要扫描，此时可运用包含扫描
    -->
<!--    <context:component-scan base-package="ioc_annotation" >-->
<!--&lt;!&ndash;        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <context:exclude-filter type="assignable" expression="ioc_annotation.controller.Usercontroller"/>&ndash;&gt;-->
<!--        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
<!--    </context:component-scan>-->
    <context:component-scan base-package="ioc_annotation"></context:component-scan>
</beans>